:root {
  --primary: #1c1e53;
}

@font-face {
  font-family: Poppins;
  src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.active {
  color: white;
}
